* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto Flex";
}

header {
  width: 100%;
  background-color: #759AAB;
  position: fixed;
}
header .head--ppal {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 4fr;
  grid-template-rows: 100px;
  justify-items: stretch;
  align-items: center;
  text-align: center;
  column-gap: 8px;
}
header .logo {
  width: 50px;
  margin: 5px;
}
header div div nav {
  font-family: "Roboto Flex";
}

body main {
  background-color: rgba(255, 255, 255, 0.89);
}
body main img {
  overflow: hidden;
}
body main .carousel-container {
  padding: 5px;
  width: 100%;
  display: flex;
  animation: slide;
  animation-duration: 20s;
  animation-delay: 3s;
}
body main .carousel-slide {
  margin-top: 100px;
  padding: 5px;
  min-width: 500px;
  max-height: 350px;
  scroll-snap-align: start;
}
body main .carousel-slide img {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
}
@keyframes slide {
  0% {
    margin-left: 0;
  }
  10% {
    margin-left: -20%;
  }
  20% {
    margin-left: -40%;
  }
  30% {
    margin-left: -60%;
  }
  40% {
    margin-right: -80%;
  }
  50% {
    margin-right: -100%;
  }
  60% {
    margin-left: -80;
  }
  70% {
    margin-left: -60%;
  }
  80% {
    margin-left: -40%;
  }
  90% {
    margin-left: -20%;
  }
  100% {
    margin-left: 0%;
  }
}
body main .logo {
  width: 8em;
  margin: 5px;
}
body main .div_ppal, body main div .div_ppal {
  padding-top: 100px;
  align-content: center;
  justify-content: center;
  justify-items: center;
}
body main div div .imagen_cuerpo {
  max-width: 350px;
  overflow: hidden;
  padding: 5px;
  object-fit: cover;
}
body main div .div_ppal div .row {
  justify-content: center;
}
body main div .div_ppal div .row h2 {
  text-align: center;
}
body main div .div_ppal div .row ul {
  list-style: none;
}
body main div .div_ppal div section .container-fluid .row img {
  height: 200px;
  width: 200px;
  object-fit: cover;
}
body main div .div_ppal div section .container-fluid .div_proyecto {
  background-color: black;
}
body main div .grid--container {
  display: grid;
  grid-template-columns: 0.5fr 3fr 1fr;
  grid-template-rows: 500px;
  column-gap: 20px;
  max-height: 800px;
  background-color: rgba(255, 255, 255, 0.89);
  align-items: center;
  justify-content: center;
}
body main div .grid--container .div_interno {
  padding: 5px;
  text-align: center;
}
body main div .grid--container .div_interno img {
  height: 0px;
  width: 100%;
  object-fit: cover;
}
body main div .container .row, body main div .container-fluid .row, body main div .div_ppal div section .container-fluid .row {
  min-height: 100px;
  align-content: center;
}
body main div .container .row h1, body main div .container-fluid .row h1, body main div .div_ppal div section .container-fluid .row h1 {
  text-align: center;
}
body main div .container .row .row, body main div .container-fluid .row .row {
  list-style: none;
  align-content: center;
  text-align: center;
}
body main div .container .row .row img, body main div .container-fluid .row .row img {
  max-width: 200px;
  max-height: 200px;
}
body main div .fila_alta {
  height: 600px;
}
body main div .div_medio {
  padding: 5px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
body main div .container-fluid h2, body main div .div_ppal div section .container-fluid h2 {
  text-align: center;
  justify-content: center;
}
body main div .row h1 {
  text-align: center;
}
body main div .row .row img {
  height: 400px;
  width: 80%;
  object-fit: cover;
}
body main section .div_medio {
  padding: 5px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: #759AAB;
  height: 100px;
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
footer .rrss {
  display: flex;
  height: 100%;
  overflow: hidden;
  background-color: black;
  border-style: double;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
footer .rrss div {
  padding: 10px;
}
footer .rrss div a img {
  width: 100%;
  object-fit: cover;
}
footer div ul {
  padding: 5px;
  border: 5px;
  list-style-type: none;
}

@media (min-width: 600px) {
  header .logo {
    width: 80px;
    margin: 15px;
  }
  body main div .grid--container .div_interno img {
    height: 400px;
  }
  footer .rrss img {
    height: 50px;
    object-fit: cover;
    object-position: center;
  }
}
@media (min-width: 1024px) {
  header .logo {
    width: 80px;
    margin: 15px;
  }
}

/*# sourceMappingURL=main.css.map */
